[submodule "functions/powerlevel9k"]
	path = functions/powerlevel9k
	url = https://github.com/bhilburn/powerlevel9k.git
[submodule "functions/zsh-completions"]
	path = functions/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "functions/zsh-syntax-highlighting"]
	path = functions/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "functions/history-substring-search"]
	path = functions/history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search
[submodule "functions/zsh-autosuggestions"]
	path = functions/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "functions/base16-shell"]
	path = functions/base16-shell
	url = https://github.com/chriskempson/base16-shell.git
[submodule "functions/conda_zsh_completion"]
	path = functions/conda_zsh_completion
	url = https://github.com/esc/conda-zsh-completion.git
