# System
*.*.swp
*.swp
## Found on MacOS
**/DS_STORE/**

# Zsh
.histfile
*.zcompcache/*
.zcompdump
.zcompdump.*.*
*.zwc*
## Found on MAC_OS
**/.zsh_sessions/**
.zsh_history

# Works in Progress/Scratch pads
*.bak
.*.bak*
*.*.bak
functions.d/highlight_duplicates.zsh
plugins/pretty_printer/**
!plugins/pretty_printer/.git
